<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="StackOverflow-lite is a platform where people can ask questions and provide answers">
	<meta name="keywords" content="stackoverflow-lite, questions, answers">
	<meta name="author" content="Bruce Allan Makaaru">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<title>StackOverflow-lite | {{ title }}</title>
</head>
<body>
	<!-- HEADER with Nav -->
	<header class="spacing-small">
		<div class="vessel">
			<div class="columns">
				<div class="col col-half">
					<div class="brand">
						<a href="{{ url_for('home') }}"><span class="primary-color">StackOverflow</span>-lite
					</div>
				</div>
				<div class="col col-half al-right">
					<nav>
						<ul>
							<li><a href="{{ url_for('home') }}" {% block current_home %}{% endblock %}>Home</a></li>
							<li><a href="{{ url_for('questions') }}" {% block current_questions %}{% endblock %}>Questions</a></li>
							<li><a href="{{ url_for('profile') }}" {% block current_profile %}{% endblock %}>Profile</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>


  {% block maincontent %}{% endblock %}


	<footer>
		<div class="vessel">
			<p>StackOverflow-lite by Bruce Allan Makaaru</p>
		</div>
	</footer>
</body>
</html>
